.container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.space{
  flex: 1 1 auto;
}
.song{
  padding-bottom: 4vh;
  font-weight: bold;
}
.song:hover{
  cursor: pointer;
}
button{
  width: 5vmax;
}
.row{
  display: flex;
  justify-content: center;
}
button[type='submit']{
  align-self: center;
}

.move{
  transform: translateX(250%);
  position: relative;
  transition: transform 2s;
  animation: opacity;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
}
@keyframes opacity {
  from {opacity: 1}
  to {opacity: 0}
}
.hidden{
  visibility: hidden;
}
